body {
  background-color: #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  animation: gradient-animation 20s infinite;
  /* background-image: url(images/background.gif); */
  color: white;
  margin: 50px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}
.weather {
  display: none;
}
.weather-icon {
  width: 250px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
  margin-top: -20px;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -40px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 60px;
  margin-right: 10px;
}
.col div p {
  margin: 0;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 0;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}




